.header{
    height: 100%;
    
}
.logoL{
    width: auto;
    height: 100px;

}
.side-nav{
    width: 250px;
    height: 100%;
    background:grey;
    position:sticky;
    padding: 20px 30px;
    margin: 0 1rem;
}
.logo{
    display:block;
    margin-bottom: 1rem;
}
.nav-links{
    list-style: none;
    position: relative
}
.nav-links li{
    height: 2rem;
    padding: 10px 0;
}
.nav-links li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    width: 22px;
    font-size: 22px;
    margin-right: 20px;
}
.test{
    background-color: rgb(232,78,54);
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 9%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.3s;
}
.nav-links li:hover a{
    color: #ffffff    ;
    transition: 0.3s;
}
.nav-links li:hover ~ .test{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .test{
    top: 7%;
}
.nav-links li:nth-child(2):hover ~ .test{
    top: 24%;
}
.nav-links li:nth-child(3):hover ~ .test{
    top: 41%;
}.nav-links li:nth-child(4):hover ~ .test{
    top: 58%;
}
.nav-links li:nth-child(5):hover ~ .test{
    top: 73%;
}

.nav-links li:nth-child(6):hover ~ .test{
    top: 86%;
}



