body{
    margin: auto;
    background-color: #191a1c;
}

/* ~~~~~~~~~~~~~~~~~UTILITAIRE~~~~~~~~~~~~~~~~~~ */
#wrapper{
    display: flex;
}
.textwhite{
    color: white;
}
.designText{
    font-size: 20px;
}
.nodeco{
    text-decoration: none;
}
.badRole{
    background-color: grey;
    padding: 1rem;
    font-size:xx-large;
    max-width: fit-content;
    margin: auto;
    text-align: center;
}
.textmiddle{
    justify-content: center;
}
.logoMargin{
    margin: 0 0.5rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrappernavbar{
    display: flex;
    flex-direction: row;
    background-color: grey;
    width: auto;
    margin: 1rem;
    height: 100px;
    justify-content: space-between;
}
.logoLogin{
    margin-right: 0.5rem;
}

.logoNav{
    display: block;
    max-height:100%;
    margin-left: 10rem;
    justify-content: center;
}
.btnLog{
    height: 2rem;
    background-color: grey;
    border-color: rgb(232,78,54);
    border-style:solid;
    color: white;
}
.btnNav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 5rem;
    margin-right: 10rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~CHAPITRE~~~~~~~~~~~~~~~~~~~~~~ */

.containerChap{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgchap{
    width: 50rem;
    max-height: fit-content;
}
.infobar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: grey;
    
}
#wrapperCha{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chapTitre{
    font-size: x-large;
    text-decoration: none;
}
.logoChap{
    margin-right: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~MANGALIST~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.mangaList{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}
.titreImage{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    max-width: 40rem;
    background-color: grey;
}
.mangaCase{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.mangaGarde{
    width: 12rem;
    height: 18rem;
}
.mangaDesc{
    font-size: larger;
    margin: 0;
}
.mangaTitre{
    font-size: xx-large;
    text-decoration: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~MANGAPAGE~~~~~~~~~~~~~~~~~~~~~~~~ */
.noteSelect{
    width: 6rem;
    height: 3rem;
    font-size: 30px;
    font-family: 'FontAwesome', 'Second Font name'
}
#option1{
    font-family: 'FontAwesome', 'Second Font name'
}


