{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

 <h1 class="textwhite">Mentions légal</h1>
    <p class="textwhite">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur laudantium corrupti voluptatum quod temporibus, voluptatem fuga sunt deleniti reprehenderit, error earum. Tenetur nihil possimus placeat nisi quaerat facilis accusamus ratione at labore iusto ullam, sint vero minus rem esse assumenda exercitationem sed quibusdam saepe magnam consequatur deleniti eos quam? Laborum quod impedit velit officiis quasi maiores tempore molestiae blanditiis sit deserunt, rerum nisi sint modi quam! Ex inventore nostrum eveniet reiciendis, nobis eaque fuga esse quia quisquam quod iusto dolorem facilis adipisci magnam, eligendi laudantium deleniti itaque neque, perferendis tempora! Quos debitis dignissimos molestias, voluptatum tempora nihil nam libero. Pariatur dignissimos, sed molestias ipsam quibusdam deleniti, ipsum nesciunt sequi animi sint dolorum magni corporis distinctio architecto doloribus, quisquam obcaecati officia illum adipisci ratione! Iste voluptatem ut fuga ipsam explicabo suscipit, asperiores consectetur ratione eaque pariatur incidunt tempore iure iusto exercitationem voluptatibus laboriosam nihil. Molestias, et. Omnis, praesentium voluptatum officia unde, rem repellendus numquam repellat nostrum aut modi quo tempore similique obcaecati sunt ratione ipsa! Dolor laborum assumenda voluptas in neque excepturi minima doloribus, itaque ipsa? Ullam ut officia commodi, natus eveniet temporibus fugiat, nihil blanditiis accusantium id quidem provident veritatis, dignissimos adipisci ea est! Alias tempora odit perspiciatis enim. Laborum enim minus ratione ad vitae praesentium quidem accusamus sit, sunt esse ea eum adipisci aliquid temporibus, repellat ipsam provident? Consequatur, magni maxime? Animi, quisquam sunt, nesciunt cumque distinctio quaerat illum nulla facilis quidem possimus a eos dolorem officiis exercitationem. Laboriosam error accusantium aspernatur iure dolore dolor, temporibus fugit modi soluta cum molestias architecto sint optio maiores autem quam, hic ipsam. Nam laboriosam soluta pariatur cum aliquam corrupti quis perferendis, magnam harum doloremque, itaque modi quas autem, consequatur obcaecati earum est illum debitis necessitatibus cumque dicta molestias! Illo ipsa veniam, dignissimos aliquid animi sed modi ipsam sit libero, perferendis officiis pariatur?</p>



{% endblock %}
